*{
    box-sizing: border-box;
}

.playfair-display-custom{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-custom{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html{
    scroll-behavior: smooth;
    background-color: #f8f7f2;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1{font-size: 3.5em; font-family: "Playfair Display", serif;}
h2{font-size: 2.7em; font-family: "Playfair Display", serif;}
h3{font-size: 2em; font-family: "Playfair Display", serif;}
p{font-size: 1.25em; font-family: "Open Sans", sans-serif;}
ul{list-style: none; font-family: "Open Sans", sans-serif;}
li{font-size: 1.25em; font-family: "Open Sans", sans-serif;}
a{text-decoration: none; font-family: "Open Sans", sans-serif;}

/* === HEADER === */

header{
    background-color: #cbc7b7;
    position: relative;
    top: 0;
    z-index: 1000;
} 

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: #f8f7f2;
    margin: 0;
    padding: 25px 35px;
    font-size: 1.6em;

}

.logo .italic{
    font-style: italic;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 15px;
}

header a{
    padding: 15px 12px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #48392e;
    border-radius: 20px;
}

header a:hover{
    background-color: #48392e;
    color: #f8f7f2;
}

/* === BIOGRAFIA === */

#intro .container{
    padding: 15px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#intro h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #48392e;
}

/* === FOOTER === */

footer{
    margin-top: 3em;
    margin-bottom: 4em;
}

footer .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

footer .arrow{
    margin-right: 15px;
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: #48392e;
}

footer a:hover{
    color: #cbc7b7;
}

/* === MEDIA === */

@media (min-width: 720px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 1000;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #intro .container{
        margin-top: 80px;
    }
    #intro .container p{
        text-align: justify;
    }
}

@media (max-width: 750px){
    #intro h2{
        align-self: center;
    }
    footer .container{
        justify-content: center;
    }
}